@font-face {
  font-family: 'Basier Circle';
  src: url("../fonts/basiercircle-regular-webfont.eot");
  src: url("../fonts/basiercircle-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/basiercircle-regular-webfont.woff2") format("woff2"), url("../fonts/basiercircle-regular-webfont.woff") format("woff"), url("../fonts/basiercircle-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Basier Cicle';
  src: url("basiercircle-semibold-webfont.eot");
  src: url("basiercircle-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("basiercircle-semibold-webfont.woff2") format("woff2"), url("basiercircle-semibold-webfont.woff") format("woff"), url("basiercircle-semibold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
