/* =====| Studio |===== */
.studio {
  margin-bottom: 24px; }

@media (max-width: 1200px) {
  .studio {
    margin-bottom: 60px;
    padding: 60px 0; } }

@media (min-width: 1200px) {
  .studio__content {
    padding-right: 80px; } }

@media (max-width: 992px) {
  .studio__content {
    margin-bottom: 50px; } }

.studio-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.studio-gallery .grid {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.std-image__l {
  margin-right: 15px; }

.std-image__r {
  margin-bottom: 15px; }
