/* =====| Cards |===== */
.learn-card {
  display: block;
  background: #fff;
  margin-bottom: 30px;
  max-width: 356px;
  height: 163px;
  padding: 60px 30px 25px;
  -webkit-box-shadow: 0px 4px 50px rgba(222, 222, 222, 0.25);
  box-shadow: 0px 4px 50px rgba(222, 222, 222, 0.25);
  position: relative; }
  .learn-card:hover {
    -webkit-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    transform: translate(0, -5px);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02), 0 6px 6px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02), 0 6px 6px rgba(0, 0, 0, 0.05); }
  .learn-card__content {
    position: absolute;
    bottom: 30px;
    left: 30px; }
  .learn-card__title {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px; }
  .learn-card__link {
    font-size: 14px;
    font-weight: bold; }
