/*--------------------------------------------------------------
>>> For Coaching
--------------------------------------------------------------*/
/* =====| All in one platform |===== */
/* =====| Personlaization |===== */
/* =====| Billing Support |===== */
/* =====| Comprehensive Reporting |===== */
/* =====| Top Dental Coaches |===== */
.dental {
  background: #F9F9F9;
  padding: 100px 0 50px; }

.dental-box {
  display: block;
  background: #fff;
  margin-bottom: 30px;
  max-width: 356px;
  height: 163px;
  padding: 60px 30px 25px;
  -webkit-box-shadow: 0px 4px 50px rgba(222, 222, 222, 0.25);
  box-shadow: 0px 4px 50px rgba(222, 222, 222, 0.25);
  position: relative; }
  .dental-box__content {
    position: absolute;
    bottom: 30px;
    left: 30px; }
  .dental-box__title {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px; }
  .dental-box__link {
    font-size: 14px;
    font-weight: bold; }
