/*--------------------------------------------------------------
>>> 	Study Club
--------------------------------------------------------------*/
/* =====| Hero |===== */
/* =====| Thought Leader |===== */
/* =====| Study Club |===== */
/* =====| What's included |===== */
.included {
  background: #f9f9f9;
  padding: 60px 0; }
  .included__wrapper {
    max-width: 900px;
    margin: 0 auto; }
  .included__header {
    margin-bottom: 30px; }

.include-box {
  display: block;
  position: relative;
  background: #fff;
  width: 356px;
  height: 163px; }
  .include-box__content {
    position: absolute;
    left: 30px;
    bottom: 25px; }
    .include-box__content--title {
      font-size: 25px;
      color: #000; }

/* =====| Community |===== */
